<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Helpify</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/professional/search/{{id}}">Search</a>
                    </li>
                    <li class="nav-item">

                        <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <i class="bi bi-person-circle fs-5"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item" href="#">LogOut</a></li>

                            </ul>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <h3>Welcome {{name}}</h3>
    <div class="card mt-4 ms-4 me-4 shadow-lg">
        <div class="card-header">
            <div class="d-flex d-inline">
                <h3>Packages</h3>
                <button class="btn btn-primary ms-auto">Create Package</button>
            </div>

        </div>
        <div class="card-body">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-approved-package-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-approved-package" type="button" role="tab"
                        aria-controls="pills-approved-package" aria-selected="true">Approved</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-pending-package-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-pending-package" type="button" role="tab"
                        aria-controls="pills-pending-package" aria-selected="false">Pending </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-completed-rejected-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-completed-rejected" type="button" role="tab"
                        aria-controls="pills-completed-rejected" aria-selected="false">Completed/Rejected</button>
                </li>

            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-approved-package" role="tabpanel"
                    aria-labelledby="pills-approved-package-tab" tabindex="0">

                    <div class="row">
                        <div class="col-3 mb-3">
                            <div class="card">
                                <div class="card-body">
                                    Pack1
                                    <p class="card-text"><strong>Description:</strong> This is a sample package.</p>
                                    <button class="btn btn-secondary" >Edit</button>
                                    <button class="btn btn-danger" >Close</button>
                                    <button class="btn btn-success" >View Details</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card">
                                <div class="card-body">
                                    Pack2
                                    <p class="card-text"><strong>Description:</strong> This is a sample package.</p>
                                    <button> View Details</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card">
                                <div class="card-body">
                                    Pack3
                                    <p class="card-text"><strong>Description:</strong> This is a sample package.</p>
                                    <button> View Details</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card">
                                <div class="card-body">
                                    Pack3
                                    <p class="card-text"><strong>Description:</strong> This is a sample package.</p>
                                    <button> View Details</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card">
                                <div class="card-body">
                                    Pack3
                                    <p class="card-text"><strong>Description:</strong> This is a sample package.</p>
                                    <button> View Details</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card">
                                <div class="card-body">
                                    Pack3
                                    <p class="card-text"><strong>Description:</strong> This is a sample package.</p>
                                    <button> View Details</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card">
                                <div class="card-body">
                                    Pack3
                                    <p class="card-text"><strong>Description:</strong> This is a sample package.</p>
                                    <button> View Details</button>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
                <div class="tab-pane fade" id="pills-pending-package" role="tabpanel"
                    aria-labelledby="pills-pending-package-tab" tabindex="0">

                    <div class="row">
                        <div class="col-3 mb-3">
                            <div class="card">
                                <div class="card-body">
                                    Pack1
                                    <p class="card-text"><strong>Description:</strong> This is a sample package.</p>
                                    <button class="btn btn-secondary">Edit</button>
                                    <button class="btn btn-danger">Delete</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card">
                                <div class="card-body">
                                    Pack2
                                    <p class="card-text"><strong>Description:</strong> This is a sample package.</p>
                                    <button> View Details</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card">
                                <div class="card-body">
                                    Pack3
                                    <p class="card-text"><strong>Description:</strong> This is a sample package.</p>
                                    <button> View Details</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card">
                                <div class="card-body">
                                    Pack3
                                    <p class="card-text"><strong>Description:</strong> This is a sample package.</p>
                                    <button> View Details</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card">
                                <div class="card-body">
                                    Pack3
                                    <p class="card-text"><strong>Description:</strong> This is a sample package.</p>
                                    <button> View Details</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card">
                                <div class="card-body">
                                    Pack3
                                    <p class="card-text"><strong>Description:</strong> This is a sample package.</p>
                                    <button> View Details</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card">
                                <div class="card-body">
                                    Pack3
                                    <p class="card-text"><strong>Description:</strong> This is a sample package.</p>
                                    <button> View Details</button>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
                <div class="tab-pane fade" id="pills-completed-rejected" role="tabpanel"
                    aria-labelledby="pills-completed-rejected-tab" tabindex="0">

                </div>

            </div>

        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>

</html>