{% extends "admin/base.html" %}


{% block content %}
    <div class="card mt-4 ms-4 me-4 shadow-lg">
        <div class="card-header">
            <h3>Professionals</h3>
        </div>
        <div class="card-body">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-active-professional-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-active-professional" type="button" role="tab"
                        aria-controls="pills-active-professional" aria-selected="true">Active</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-registered-professional-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-registered-professional" type="button" role="tab"
                        aria-controls="pills-registered-professional" aria-selected="false">Registered </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-flagged-professional-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-flagged-professional" type="button" role="tab"
                        aria-controls="pills-flagged-professional" aria-selected="false">Flagged</button>
                </li>

            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-active-professional" role="tabpanel"
                    aria-labelledby="pills-active-professional-tab" tabindex="0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Professional Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Mobile</th>
                                <th scope="col">Status</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for prof in professionals %}
                             {% if prof.status == 'Active' %}
                            <tr>
                                <td>{{prof.name}}</td>
                                <td>{{prof.email}}</td>
                                <td>{{prof.mobile}}</td>
                                <td><span class="badge bg-success">{{prof.status}}</span></td>
                                <td>
                                    <a href="/view-professional/{{prof.id}}" class="btn btn-sm btn-primary">View</a>
                                    <a  href="/admin/professional/flag/{{prof.id}}" class="btn btn-sm btn-danger">Flag</a>
                                </td>
                            </tr>
                            {% endif %}
                            {% endfor %}

                        </tbody>
                    </table>


                </div>
                <div class="tab-pane fade" id="pills-registered-professional" role="tabpanel"
                    aria-labelledby="pills-registered-professional-tab" tabindex="0">

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Professional Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Mobile</th>
                                <th scope="col">Status</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for prof in professionals %}
                            {% if prof.status == 'Registered' %}
                            <tr>
                                <td>{{prof.name}}</td>
                                <td>{{prof.email}}</td>
                                <td>{{prof.mobile}}</td>
                                <td><span class="badge bg-success">{{prof.status}}</span></td>
                                <td>
                                    <a href="http://127.0.0.1:5000{{prof.resume}}"  class="btn btn-primary" target="_blank">ViewResume</a>
                                    <a href="/admin/professional/active/{{prof.id}}" class="btn btn-sm btn-success">Approve</a>
                                    <a  href="/admin/professional/reject/{{prof.id}}" class="btn btn-sm btn-danger">Reject</a>
                                </td>
                            </tr>
                            {% endif %}
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="pills-flagged-professional" role="tabpanel"
                    aria-labelledby="pills-flagged-professional-tab" tabindex="0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Professional Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Mobile</th>
                                <th scope="col">Status</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for prof in professionals %}
                            {% if prof.status == 'Flagged' %}
                            <tr>
                                <td>{{prof.name}}</td>
                                <td>{{prof.email}}</td>
                                <td>{{prof.mobile}}</td>
                                <td><span class="badge bg-danger">{{prof.status}}</span></td>
                                <td>

                                    <a  href="/admin/professional/unflag/{{prof.id}}" class="btn btn-sm btn-warning">UnFlag</a>
                                </td>
                            </tr>
                            {% endif %}
                            {% endfor %}

                        </tbody>
                    </table>

                </div>

            </div>

        </div>
    </div>

    <div class="card mt-4 ms-4 me-4 shadow-lg">
        <div class="card-header">
            <h3>Customers</h3>
        </div>
        <div class="card-body">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-active-customer-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-active-customer" type="button" role="tab"
                        aria-controls="pills-active-customer" aria-selected="true">Active</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-flagged-customer-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-flagged-customer" type="button" role="tab"
                        aria-controls="pills-flagged-customer" aria-selected="false">Flagged</button>
                </li>

            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-active-customer" role="tabpanel"
                    aria-labelledby="pills-active-customer-tab" tabindex="0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Customer Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Mobile</th>
                                <th scope="col">Status</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cust in customers %}
                            {% if cust.status == 'Active' %}
                            <tr>
                                <td>{{cust.name}}</td>
                                <td>{{cust.email}}</td>
                                <td>{{cust.mobile}}</td>
                                <td><span class="badge bg-success">{{cust.status}}</span></td>
                                <td>
                                    
                                    
                                    <a href="/view-customer/{{cust.id}}" class="btn btn-sm btn-primary">View</a>
                                    <a  href="/admin/customer/flag/{{cust.id}}" class="btn btn-sm btn-warning">Flag</a>
                                </td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>

                </div>

                <div class="tab-pane fade" id="pills-flagged-customer" role="tabpanel"
                    aria-labelledby="pills-flagged-customer-tab" tabindex="0">

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Customer Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Mobile</th>
                                <th scope="col">Status</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cust in customers %}
                            {% if cust.status == 'Flagged' %}
                            <tr>
                                <td>{{cust.name}}</td>
                                <td>{{cust.email}}</td>
                                <td>{{cust.mobile}}</td>
                                <td><span class="badge bg-warning">{{cust.status}}</span></td>
                                <td>
                                    
                                    <a  href="/admin/customer/unflag/{{cust.id}}" class="btn btn-sm btn-danger">UnFlag</a>
                                </td>
                            </tr>
                            {% endif %}
                            {% endfor %}

                        </tbody>
                    </table>

                </div>

            </div>

        </div>
    </div>



{% endblock %}